this is a new bomb

<h1>
  Enter configuration settings
</h1>
<form action="/bomb" method="POST">
  <div>
    <input type="text" name="codes[activation]" placeholder="Activation Code, default is 1234"/>
  </div>
  <div>
    <input type="text" name="codes[deactivation]" placeholder="Deactivation Code, default is 0000"/>
  </div>
  <div>
    <input type="submit" value="Boot it up!" />
  </div>
</form>