WHAT IS THE NAME OF THIS CHARACTER?
%p
  %img{src: @correct_question.trivia_piece}
  - @questions.shuffle.each do |question|
    =form_for @current_round, data: {round_number: 'cats'} do |f|
      =f.hidden_field :answer, value: question.id
      =f.submit value: question.name, data: {submit_answer: 'blah'}

%div{data:{result_holder: 'display'}}
